<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="divante" translate="label" sortOrder="10">
            <label>Divante</label>
        </tab>
        <section id="elastics" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Elastics</label>
            <tab>divante</tab>
            <resource>Divante_Elastics::elastics</resource>
            <group id="configuration" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Elasticsearch configuration</label>
                <field id="elasticsearch_server_uri" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Elasticsearch server URI</label>
                    <comment>Elastic search server URI, example: "http://localhost:9200", no trailing slash!</comment>
                </field>
                <field id="elasticsearch_index_name" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Index name</label>
                </field>
                <field id="elasticsearch_index_attributes" translate="label" type="multiselect" sortOrder="3"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Indexed attributes</label>
                    <source_model>Divante\Elastics\Model\Config\Source\Attributes</source_model>
                </field>
                <field id="elasticsearch_authentication_type" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication type</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Divante\Elastics\Model\Config\Source\Auth</source_model>
                </field>
                <field id="elasticsearch_basic_user" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Basic auth user</label>
                    <depends>
                        <field id="elasticsearch_authentication_type">basic</field>
                    </depends>
                </field>
                <field id="elasticsearch_basic_pass" translate="label" type="password" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Basic auth password</label>
                    <depends>
                        <field id="elasticsearch_authentication_type">basic</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
